$white: #fff;
$black: #222427;
$dark-grey: #5B616A;
$diverse-ui: #f02148;
$fidelity: #4a90e2;
$gigster: #0e75db;
$visuals: #60d394;
$off-white: #F9FAFA;
$accent: #ed254e;

@mixin ipad() {
  @media only screen and (max-width: 1020px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 760px) {
    @content;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "canada-type-gibson", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;

  &.with-images {
    align-items: center;
    padding: 0 80px;
  }
}

.gray-bg {
  background: $off-white;
}

.up-next,
.up-next:hover,
.up-next:active,
.up-next:visited {
  color: #5b616a;
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0 40px auto;
  text-decoration: none;

  strong {
    color: #222427;
    font-weight: 600;
  }
}

.menu-wrap {
  position: absolute;
  right: 50px;
  top: 40px;
}

.bar {
  display: block;
  height: 3px;
  width: 33px;
  background: #222427;
  margin: 6px auto;
  border-radius: 3px;
}

.middle {
  margin: 0 auto;
}
