@import "vendor/hamburgers/hamburgers";

$white: #fff;
$black: #222427;
$dark-grey: #5b616a;
$diverse-ui: #f02148;
$fidelity: #4a90e2;
$gigster: #0e75db;
$visuals: #60d394;
$off-white: #f9fafa;
$accent: #ed254e;

@mixin ipad() {
  @media only screen and (max-width: 1020px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 760px) {
    @content;
  }
}

@keyframes bounceLeft {
  0%, 20%, 50%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(8px);
  }
  80% {
    transform: translateX(4px);
  }
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "canada-type-gibson", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;

  &.with-images {
    align-items: center;
    padding: 0 80px;
  }
}

.gray-bg {
  background: $off-white;
}

.up-next,
.up-next:hover,
.up-next:active,
.up-next:visited {
  color: #5b616a;
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0 40px auto;
  text-decoration: none;

  strong {
    color: #222427;
    font-weight: 600;
  }
}

.overlay {
  background: $off-white;
  display: flex;
  height: 0;
  justify-content: center;
  overflow: auto;
  position: absolute;
  width: 100%;
  z-index: 4;
  transition: all .4s cubic-bezier(0.165, 0.63, 0.14, 0.82);

  .row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 160px 0 0;
    max-width: 960px;

    @include ipad {
      margin: 67px 0 0;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }

  .work {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      font-size: 24px;
      margin: 0 0 24px;
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }

  .active {
    color: $accent;
    font-weight: 600;
  }

  .third {
    flex: 1;

    @include ipad {
      flex: auto;
      width: 100%;
    }
  }

  .whole {
    text-align: center;
    width: 100%;
    margin-top: 160px;

    @include ipad {
      margin-top: 40px;
    }
  }

  .social-links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 20px;
      display: inline-block;
      margin: 0 32px 0 0;
    }

    li:last-child {
      margin: 0;
    }

    a {
      color: $accent;
    }
  }
}

.hamburger {
  position: absolute;
  right: 50px;
  top: 40px;
  z-index: 5;

  @include ipad {
    right: 15px;
    top: 20px;
  }

  &:focus {
    outline: none;
  }
}

.menu {
  overflow: hidden;

  .overlay {
    height: 100%;
    position: fixed;
    top: 0;
  }
}
