@import 'base';

$off-white: #f9f9f9;
$accent: #5438dc;

html,
body {
  background: $off-white;
  height: 100%;
  min-height: 100%;

  @media screen and (min-width: 468px) {
    min-height: 790px;
  }
}

.wrapper {
  height: 100%;
  overflow: auto;
  position: relative;
}

.accent-bar {
  background: $accent;
  height: 100%;
  position: fixed;
  width: 35%;
  z-index: 1;

  @include mobile {
    display: none;
  }
}

.links {
  bottom: 45px;
  color: $white;
  left: 50px;
  position: absolute;
  z-index: 3;

  @include mobile {
    bottom: 30px;
    left: 40px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 15px 0 0;

    @include mobile {
      margin: 0 35px 0 0;
    }
  }

  li:last-child {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @include mobile {
    color: $accent;
  }
}

.content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.photo {
  margin: 0 125px 0 0;

  @include mobile {
    margin: 0;
  }

  img {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    height: 655px;
    width: 428px;

    @include ipad {
      height: 460px;
      width: 300px;
    }

    @include mobile {
      display: none;
    }
  }
}

.copy {
  max-width: 460px;
  overflow: visible;
  position: relative;

  @include ipad {
    max-width: 300px;
  }

  @include mobile {
    max-width: calc(100% - 80px);
  }
}

.line {
  background: $accent;
  height: 8px;
  left: -168px;
  position: absolute;
  top: 40px;
  width: 130px;

  @include mobile {
    display: none;
  }
}

.name {
  color: #4a4a4a;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 0 6px;
  text-transform: uppercase;

  @include ipad {
    font-size: 32px;
  }
}

.title {
  color: $accent;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: .4px;
  margin: 0 0 12px;

  @include ipad {
    font-size: 22px;
  }
}

.location {
  color: $black;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 24px;

  @include ipad {
    font-size: 16px;
  }
}

.bio {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin: 0 0 24px;

  @include ipad {
    font-size: 16px;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: $accent;
    text-decoration: none;
  }
}

.portfolio,
.portfolio:hover,
.portfolio:active,
.portfolio:visited {
  background: $accent;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(51, 84, 209, .35);
  color: $white;
  display: block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}
