@import 'base';


html,
body {
  background: #f9fafa;
  background-image: url(../images/menewbg.png);
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 30%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    display: none;
    background-image: none;
  }
}

.links {
  color: $accent;
  margin-top: 64px;

  @include mobile {
    bottom: 30px;
    left: 40px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  li {
    display: inline-block;
    margin: 0 20px 0 0;

    @include mobile {
      margin: 0 35px 0 0;
    }
  }

  li:last-child {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
  }

  @include mobile {
    color: $accent;
  }
}

.content {
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  z-index: 2;
  flex-direction: column;
  max-width: 340px;
}


.name {
  color: #222427;
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  line-height: 56px;

  @include ipad {
    font-size: 32px;
  }
}

.title {
  color: $accent;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: .4px;
  margin: 0;

  @include ipad {
    font-size: 22px;
  }
}


.bio {
  color: #5B616A;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.71px;
  margin: 0;

  @include ipad {
    font-size: 16px;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: $accent;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .5px;
  }
}

@keyframes pulse {
	25% {
		transform: scale(1.05);
	}

	75% {
		transform: scale(.95);
	}
}

.portfolio,
.portfolio:hover,
.portfolio:active,
.portfolio:visited {
  background: $accent;
  border-radius: 6px;
  color: $white;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  display: inline-block;
  border: 2px solid $accent;
  &:hover {
		animation-name: pulse;
		animation-duration: 1.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
    box-shadow: 0 0 6px 0 rgba(348, 84, 93, .5);
	}
}

.resume,
.resume:hover,
.resume:active,
.resume:visited {
  background: transparent;
  box-shadow: none;
  border: 2px solid $dark-grey;
  color: $dark-grey;
  margin-left: 20px;
  width: 180px;
  &:hover {
    background: $dark-grey;
    box-shadow: 0 0 6px 0 rgba(91, 97, 106, 0.25);
    color: $white;
  }

  @include ipad {
    margin-left: 0;
    margin-top: 20px;
    width: 200px;
  }
}
