@import 'base';

.is-active {
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $black;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: $black;
}

.subtext {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

p {
  margin: 0 0 0 16px;
}

p:last-child {
  margin: 0 0 0 16px;
}

a {
  color: $accent;
}

.section-description {
  flex-basis: 400px;
  flex-grow: 1;
  max-width: 100%;
  min-width: 400px;
  div {
    margin-bottom: 56px;
  }
}

section {
  width: 60%;
  margin: auto;
}
