@import 'base';

$diverse-ui: #f02148;
$fidelity: #222c3c;
$gigster: #0e75db;
$visuals: #00a1e0;

html,
body {
  background: transparent;
  font-family: "canada-type-gibson", "Helvetica", sans-serif;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;

  @include ipad {
    height: auto;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  @include ipad {
    display: block;
    height: auto;
  }
}

.card {
  height: 50%;
  position: relative;
  width: 50%;

  @include ipad {
    margin: 0 auto 100px;
    width: 580px;
  }
}

.name {
  color: $black;
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 10px;
}

.line {
  background: #222c3d;
  height: 4px;
  margin: 0 0 24px;
  width: 135px;
}

.description {
  max-width: 180px;

  p {
    color: #4a4a4a;
    font-size: 18px;
    margin: 0 0 20px;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: rgba(74, 74, 74, .5);
    display: block;
    font-size: 16px;
    text-decoration: none;
  }
}

.triangle {
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}

.card:nth-child(even) {
  .name {
    text-align: right;
  }

  .line {
    margin: 0 9% 24px auto;
  }

  .description {
    margin: 0 3% 0 auto;

    @include ipad {
      margin: 0 3% 150px auto;
    }
  }

  .triangle {
    border-width: 43vh 0 0 46.25vw;
    left: 2.5%;

    @include ipad {
      border-width: 280px 0 0 580px;
      left: 0;
    }
  }
}

.card:nth-child(odd) {
  .name {
    text-align: left;
  }

  .line {
    margin: 0 auto 24px 9%;
  }

  .description {
    margin: 0 auto 0 3%;

    @include ipad {
      margin: 0 auto 150px 3%;
    }
  }

  .triangle {
    border-width: 0 0 43vh 46.25vw;
    right: 2.5%;

    @include ipad {
      border-width: 0 0 280px 580px;
      right: 0;
    }
  }
}

.card:nth-child(4n + 1) {
  padding: 2.5% 1.25% 1.25% 2.5%;

  @include ipad {
    padding: 0;
  }

  .line {
    background: $diverse-ui;
  }

  .triangle {
    border-color: transparent transparent $diverse-ui;
    bottom: 4.5%;

    @include ipad {
      bottom: 0;
    }
  }
}

.card:nth-child(4n + 2) {
  padding: 2.5% 2.5% 1.25% 1.25%;

  @include ipad {
    padding: 0;
  }

  .line {
    background: $fidelity;
  }

  .triangle {
    border-color: transparent transparent transparent $fidelity;
    bottom: 4.5%;

    @include ipad {
      bottom: 0;
    }
  }
}

.card:nth-child(4n + 3) {
  padding: 1.25% 1.25% 2.5% 2.5%;

  @include ipad {
    padding: 0;
  }

  .line {
    background: $gigster;
  }

  .triangle {
    border-color: transparent transparent $gigster;
    bottom: 9%;

    @include ipad {
      bottom: 0;
    }
  }
}

.card:nth-child(4n) {
  padding: 1.25% 2.5% 2.5% 1.25%;

  @include ipad {
    padding: 0;
  }

  .line {
    background: $visuals;
  }

  .triangle {
    border-color: transparent transparent transparent $visuals;
    bottom: 9%;

    @include ipad {
      bottom: 0;
    }
  }
}
