@import 'base';

.is-active {
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $black;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
}

p {
  color: #5b616a;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 28px;

  &.centered {
    padding: 0 40px;
    text-align: center;
    width: 100%;

    @include mobile {
      padding: 0;
    }
  }

  a {
    font-weight: 600;
    text-decoration: none;
  }

  strong {
    font-weight: 600;
  }
}

p:last-child {
  margin: 0;
}

.gigster-bg {
  background: $gigster;
}

.fidelity-bg {
  background: $fidelity;
}

.diverse-ui-bg {
  background: $diverse-ui;
}

.diverse-ui-color {
  color: $diverse-ui;
}

section {
  padding: 100px 0;

  @include mobile {
    padding: 50px 0;
  }

  &.compact {
    padding: 50px 0;
  }
}

.container {
  align-items: flex-start;
  flex-grow: 1;

  @include mobile {
    padding: 0 20px;
  }

  &.with-images {
    padding: 0 20px;
  }
}

header {
  align-items: flex-end;
  display: flex;
  height: 500px;

  @include ipad {
    height: auto;
  }
}

.header-image {
  width: 680px;

  @media only screen and (max-width: 1279px) {
    margin: 0;
    width: 50%;
  }

  @include ipad {
    margin: 0 auto;
    width: 90%;
  }
}

.line {
  height: 8px;
  margin: 0 0 0 60px;
  width: 160px;
}

.title {
  width: 460px;

  @media only screen and (max-width: 1279px) {
    width: 40%;
  }

  @include ipad {
    margin: 105px 0 36px 0;
    order: -1;
    text-align: center;
    width: 100%;
  }

  @include mobile {
    max-width: 460px;
    text-align: left;
    width: auto;
  }
}

.name {
  color: $white;
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 3px;
  letter-spacing: 1px;
}

.description {
  color: $white;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 48px;
}

.visit,
.visit:hover,
.visit:active,
.visit:visited {
  background: transparent;
  border: 2px solid $white;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
    .fa {
      margin-left: 8px;
    }
}

.visit:hover {
  .fa {
      animation: bounceLeft 2s infinite;
  }
}

.gigster-inverted:hover,
.gigster-inverted:active {
  background: $white;
  color: $gigster;
}

.fidelity-inverted:hover,
.fidelity-inverted:active {
  background: $white;
  color: $fidelity;
}

.diverse-ui-inverted:hover,
.diverse-ui-inverted:active {
  background: $white;
  color: $diverse-ui;
}

.section-header {
  margin: 0 90px 32px 0;

  h2 {
    color: #222427;
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 10px;
  }
}

.section-description {
  flex-basis: 700px;
  flex-grow: 1;
  max-width: 100%;
  min-width: 700px;

  strong {
    color: #222427;
    font-weight: 600;
  }

  @include mobile {
    min-width: 320px;
  }
}

.copy {
  width: 400px;

  @include mobile {
    order: 2;
    width: 100%;
  }
}

.half {
  border-right: 1px solid #ced3dc;
  flex: 1;
  padding: 0 80px 0 0;

  @include ipad {
    border-right: 0;
    flex: auto;
    margin: 0 0 36px;
    padding: 0;
    width: 100%;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 12px;
    text-transform: uppercase;
  }
}

.half:last-child {
  border-right: 0;
  padding: 0 0 0 80px;

  @include ipad {
    margin: 0;
    padding: 0;
  }
}

.tweets {
  width: 100%;
}

.images {
  height: 397px;
  position: relative;
  width: 600px;

  @include mobile {
    height: 222px;
    margin: 0 auto;
    width: 335px;
  }
}

.image {
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, .25);
  display: block;
  width: 600px;

  @include mobile {
    margin: 0 auto 32px auto;
    width: 335px;
  }
}

.gigster-health {
  position: absolute;
  right: 0;
  top: 0;
  width: 558px;

  @include mobile {
    width: 311px;
  }
}

.gigster-app {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 295px;

  @include mobile {
    width: 165px;
  }
}
