@import 'base';

.is-active {
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $black;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
}

section {
  padding: 100px 0;
}

.visuals-bg {
  background: $visuals;
}

header {
  align-items: flex-end;
  display: flex;
  height: 531px;
}

.header-image {
  background-size: cover;
  height: 378px;
  margin: 0 60px 0 0;
  width: 680px;
}

.title {
  width: 460px;
}

.name {
  color: $white;
  font-size: 54px;
  font-weight: 600;
  margin: 0 0 3px;
}

.description {
  color: $white;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.details {
  width: 400px;

  h2 {
    color: #222427;
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 10px;
  }

  .line {
    height: 8px;
    margin: 0 0 40px 60px;
    width: 240px;
  }

  p {
    color: #5b616a;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }

  a {
    font-weight: 600;
    text-decoration: none;
  }
}

.handymapp {
  .line {
    background: #243780;
  }
}

.digit {
  .line {
    background: #5bc2f7;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #5bc2f7;
  }
}

.due {
  .line {
    background: #02cca3;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #02cca3;
  }
}

.auction {
  .line {
    background: #60d394;
  }
}

.oauth {
  .line {
    background: #5e74a3;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #5e74a3;
  }
}

.gamesmith {
  .line {
    background: #57cec4;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #57cec4;
  }
}

.image {
  display: block;
  width: 600px;
}
