@import 'base';

.is-active {
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $black;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
}

section {
  padding: 100px 0;
}

.visuals-bg {
  background: $visuals;

  .container {
    @include ipad {
      padding: 0;
      justify-content: center;
    }
  }
}

header {
  align-items: flex-end;
  display: flex;
  height: 500px;

  @include ipad {}

  @include mobile {
    height: 430px;
  }
}

.container.with-images {
  @include ipad {
    display: flex;
    justify-content: center;
    padding: 0 40px;

    .details {
      order: -1;
      margin-bottom: 60px;
    }

    .image {
      width: 100%;
    }
  }
}

.header-image {
  background-size: cover;
  height: 378px;
  margin: 0 60px 0 0;
  width: 680px;

  @media only screen and (max-width: 1200px) {
    width: 50vw;
    height: 38vh;
  }

  @include ipad {
    width: 90vw;
    height: 38vh;
    margin: 0;
  }

  @include mobile {
    height: 25vh;
  }
}

.title {
  width: 30vw;
  margin-top: 18px;

  @media only screen and (max-width: 1200px) {
    width: 30vw;
  }

  @include ipad {
    padding: 0 20px 40px 20px;
    width: 90vw;
    order: -1;
    text-align: center;

    .name {
      color: $white;
      font-weight: 600;
      margin: 0 0 3px;
      letter-spacing: .5px;
    }

    .description {
      color: $white;
      font-size: 24px;
      line-height: 30px;
      font-weight: 400;
      margin: 0;
    }
  }

  @include mobile {
    text-align: left;

    .name {
      font-size: 32px;
    }
  }
}

.name {
  color: $white;
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 3px;
  letter-spacing: 1px;
}

.description {
  color: $white;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.details {
  width: 400px;

  h2 {
    color: #222427;
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 10px;
  }

  .line {
    height: 8px;
    margin: 0 0 40px 60px;
    width: 240px;
  }

  p {
    color: #5b616a;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }

  a {
    font-weight: 600;
    text-decoration: none;
  }
}

.handymapp {
  .line {
    background: #243780;
  }
}

.digit {
  .line {
    background: #5bc2f7;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #5bc2f7;
  }
}

.due {
  .line {
    background: #02cca3;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #02cca3;
  }
}

.auction {
  .line {
    background: #60d394;
  }
}

.oauth {
  .line {
    background: #5e74a3;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #5e74a3;
  }
}

.gamesmith {
  .line {
    background: #57cec4;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #57cec4;
  }
}

.image {
  display: block;
  width: 600px;
}

.up-next {
  .fa {
    margin-left: 8px;
  }
}
